html {
  padding: 2%;
  background-color: white;
  font-size: 1.1em;
  font-family: verdana, arial, sans-serif ;
}

body {
  background-color: rgba(0, 0, 0, 0.1);
}

header { 
  text-align: center;
  padding: 10px;
}
 
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#main {
  background-color: ;
}

#image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#img-div {
  background-color: white;
  padding: 20px;
  margin: 10px;
}

#img-caption {
  font-style: italic;
  font-size: 12px;
  text-align: center;
  padding: 20px;
}

#tribute-info {
  display: block;
  text-align: center;
  padding: 10px;
}

ul {
  display: block;
  margin: 0 auto 20px auto;
  text-align: left;
}

li {
  padding: 10px;
}

#mn {
  padding-top: 40px;
  font-weight: bold;
}

#tribute-link {
  color: red;
}

#details {
  padding-top: 50px;
}

footer {
  margin: 10, 0, 10, 0;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  background-color: rgba(0, 0, 0, .8);
  color: red;
}

footer p a {
  color: white;

}

#mn, h1, h2, h3, h4, h5 {
  font-family: georgia;
}

#vid {
  display: block;
  max-width: 100%;
  max-height: 100%;
}