/* Global */
html {
    background-color: rgb(74, 72, 72);
}

/* Header Styles*/
.profile_picture {
    border-radius: 10rem;
    border-width: .2rem;
    border-style: dotted;
    width: 20rem;
    opacity: 100%;
}

.profile_title {
    color: orange;

    font-family: Consolas;
    font-weight: lighter;
    letter-spacing: 1rem;

    margin-left: 1rem;
    margin-right: 5rem;

    border-style: dashed;
    border-color: white;
    border-left: none;
    border-right: none;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.profile_container {
    background-color: rgba(0, 0, 0, 90%);
    padding: .2rem;
    width: auto;

    border-radius: 10rem;
    border-bottom: 10px;
    border-color: white;
    border-style: ridge;

    position: absolute;
    left: 50%;
    transform: translate(-50%);

    display: flex;
    align-items: center;
}